body {
  margin: 100px;
  text-align: center;
}

/*
 * Exo 1
 */
button {
  background: #000;
  border: 0;
  color: #fff;
  font-size: 1.2em;
  padding: 1em 2em;
}

#times {
  margin-top: 3em;
  font-size: 1.5em
}

